<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>TQ: Financial Cloud</h1>
	<form action="/" method="post">
		<div class="form-row">
			<div class="col-md-4 mb-2">
				<div class="form-group">
					<label for="pan">PAN NO:</label>
					<input class="form-control" id="pan" name="pan" type="text" value="" />
				</div>
				<div class="form-group">
					<label for="pan">DOB:</label>
					<input class="form-control" id="dob" name="dob" type="date" value="" />
				</div>
			</div>
			<button class="btn btn-primary" type="submit">Validate</button>
		</div>
	</form>
	</div>
</div>


</body>
</html>
